<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
  data-namespace-typo3-fluid="true">

<footer>

	<div id="animationWrap">
		<f:comment>
			<div class="animation-controls">
				<div class="animation-controls__item">
					<a onclick="gin.startAnimation(0)" class="btn btn-primary btn-block">Animation 1</a>
				</div>
				<div class="animation-controls__item">
					<a onclick="gin.startAnimation(1)" class="btn btn-primary btn-block">Animation 2</a>
				</div>
				<div class="animation-controls__item">
					<a onclick="gin.startAnimation(2)" class="btn btn-primary btn-block">Animation 3</a>
				</div>
			</div>
		</f:comment>
		<div id="animationContainer"></div>
	</div>

</footer>