<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
  xmlns:razor="http://typo3.org/ns/RZ/Razor/ViewHelpers"
  data-namespace-typo3-fluid="true">

<v:variable.set name="tsSetup" value='<razor:ts />' />

<link rel="apple-touch-icon" sizes="180x180" href="fileadmin/razor/Images/Icons/Favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="fileadmin/razor/Images/Icons/Favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="fileadmin/razor/Images/Icons/Favicon/favicon-16x16.png">
<link rel="manifest" href="fileadmin/razor/Images/Icons/Favicon/manifest.json">
<link rel="mask-icon" href="fileadmin/razor/Images/Icons/Favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

</html>