/* --------------------------------------------------------
Main

version: 1.0
last modified: ###DATE### by ###AUTHOR###
author: ###AUTHOR###
email: ###EMAIL###
website: ###WEBSITE###
----------------------------------------------------------*/

/* Main styles BEGIN */

body {
  padding-top: 7rem;
  font-family: $font-1;
  font-size: $font-size-1;
  color: $color-text;
}

/* Main styles END */

/* Content styles BEGIN */



/* Content styles END */

/* Various BEGIN */



/* Various END */
