/* --------------------------------------------------------
Responsive

version: 1.0
last modified: ###DATE### by ###AUTHOR###
author: ###AUTHOR###
email: ###EMAIL###
website: ###WEBSITE###
----------------------------------------------------------*/

/* Bootstrap3 media queries BEGIN */

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

/* Bootstrap3 media queries END */

/* Custom queries BEGIN */



/* Custom queries END */
