/* --------------------------------------------------------
Variables

version: 1.0
last modified: ###DATE### by ###AUTHOR###
author: ###AUTHOR###
email: ###EMAIL###
website: ###WEBSITE###
----------------------------------------------------------*/

/* Colors BEGIN */

$black:                 #000;
$white:                 #fff;
$grey:                  #eee;

$color-text:            #000;
$color-ci-1:            #337ab7;
$color-ci-2:            #446cb3;

$color-error:           #b94a48;

$color-selection-back:  #75b9e7;
$color-selection:       #fff;

/* Colors END */

/* Fonts BEGIN */

$font-1:                "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-2:                Menlo, Monaco, Consolas, "Courier New", monospace;

$font-size-1:           1.6rem;
$font-size-2:           1.4rem;

/* Fonts BEGIN */

/* Settings BEGIN */

$borderRadius:          1;

/* Settings END */
