<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
  xmlns:razor="http://typo3.org/ns/RZ/Razor/ViewHelpers"
  data-namespace-typo3-fluid="true">

<f:layout name="HeaderContentFooter" />

<f:section name="content">
  <v:variable.set name="tsSetup" value='<razor:ts />' />

  <f:if condition="{data.tx_razor_tablestyles}">
    <f:then>
      <v:variable.set name="tablestyle" value="{v:content.resources(table:'tx_razor_domain_model_tablestyles', field:'value', uid:'{data.tx_razor_tablestyles}')}" />
    </f:then>
    <f:else>
      <v:variable.set name="tablestyle" value="" />
    </f:else>
  </f:if>

  <f:if condition="{table}">
    <f:if condition="{tsSetup.razor.misc.responsiveTables}">
      <div class="table-responsive">
    </f:if>

      <table class="ce-table {tablestyle.0}">
        <f:if condition="{data.table_caption}">
          <caption>{data.table_caption}</caption>
        </f:if>
        <f:for each="{table}" as="row" iteration="rowIterator">

          <f:if condition="{rowIterator.isFirst}">
            <f:then>
              <f:if condition="{data.table_header_position} == 1">
                <f:then>
                  <thead>
                </f:then>
                <f:else>
                  <tbody>
                </f:else>
              </f:if>
            </f:then>
            <f:else>
              <f:if condition="{rowIterator.isLast}">
                <f:if condition="{data.table_tfoot}">
                  </tbody>
                  <tfoot>
                </f:if>
              </f:if>
            </f:else>
          </f:if>

          <tr>
            <f:for each="{row}" as="cell" iteration="columnIterator">
              <f:render partial="Table/Columns" arguments="{_all}" />
            </f:for>
          </tr>

          <f:if condition="{rowIterator.isFirst}">
            <f:then>
              <f:if condition="{data.table_header_position} == 1">
                </thead>
                <tbody>
              </f:if>
            </f:then>
            <f:else>
              <f:if condition="{rowIterator.isLast}">
                <f:if condition="{data.table_tfoot}">
                  <f:then>
                    </tfoot>
                  </f:then>
                  <f:else>
                    </tbody>
                  </f:else>
                </f:if>
              </f:if>
            </f:else>
          </f:if>

        </f:for>
      </table>

      <f:if condition="{tsSetup.razor.misc.responsiveTables}">
        </div>
      </f:if>
  </f:if>
</f:section>
</html>