<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
  data-namespace-typo3-fluid="true">

<v:variable.set name="headerStyle" value="" />
<f:if condition="{style}">
  <v:variable.set name="headerStyle" value="{v:content.resources(table:'tx_razor_domain_model_headerstyles', field:'value', uid:'{style}')}" />
</f:if>

<f:switch expression="{layout}">
  <f:case value="1">
    <header{f:if(condition: position, then: ' class="align-{position}"')}>
      <h1{f:if(condition: style, then: ' class="{headerStyle.0}"')}><f:link.typolink parameter="{link}">{header}</f:link.typolink></h1>
    </header>
  </f:case>
  <f:case value="2">
    <header{f:if(condition: position, then: ' class="align-{position}"')}>
      <h2{f:if(condition: style, then: ' class="{headerStyle.0}"')}><f:link.typolink parameter="{link}">{header}</f:link.typolink></h2>
    </header>
  </f:case>
  <f:case value="3">
    <header{f:if(condition: position, then: ' class="align-{position}"')}>
      <h3{f:if(condition: style, then: ' class="{headerStyle.0}"')}><f:link.typolink parameter="{link}">{header}</f:link.typolink></h3>
    </header>
  </f:case>
  <f:case value="4">
    <header{f:if(condition: position, then: ' class="align-{position}"')}>
      <h4{f:if(condition: style, then: ' class="{headerStyle.0}"')}><f:link.typolink parameter="{link}">{header}</f:link.typolink></h4>
    </header>
  </f:case>
  <f:case value="5">
    <header{f:if(condition: position, then: ' class="align-{position}"')}>
      <h5{f:if(condition: style, then: ' class="{headerStyle.0}"')}><f:link.typolink parameter="{link}">{header}</f:link.typolink></h5>
    </header>
  </f:case>
  <f:case value="6">
    <header{f:if(condition: position, then: ' class="align-{position}"')}>
      <h6{f:if(condition: style, then: ' class="{headerStyle.0}"')}><f:link.typolink parameter="{link}">{header}</f:link.typolink></h6>
    </header>
  </f:case>
  <f:case value="101">
    <f:comment> -- do not show header -- </f:comment>
  </f:case>
  <f:case default="true">
    <f:if condition="{default}">
      <header>
        <f:render partial="Header" arguments="{
          header: header,
          style: style,
          position: position,
          layout: default,
          link: link}" />
      </header>
    </f:if>
  </f:case>
</f:switch>
</html>