<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:dce="http://typo3.org/ns/ArminVieweg/Dce/ViewHelpers"
  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
  xmlns:razor="http://typo3.org/ns/RZ/Razor/ViewHelpers"
  data-namespace-typo3-fluid="true">

<f:layout name="BackendTemplate" />

<f:section name="header">
  <strong>{contentObject.header}</strong>
</f:section>

<f:section name="bodytext">
  <f:switch expression="{field.type}">
    <f:case value="0">
      <div style="width:560px;height:315px;">
        <v:media.youtube videoId="{field.videoId}" width="560" height="315" />
      </div>
    </f:case>
    <f:case value="1">
      <div style="width:560px;height:315px;">
        <v:media.vimeo videoId="{field.videoId}" width="560" height="315" />
      </div>
    </f:case>
    <f:case value="2">
      <div style="width:560px;height:315px;">
        <f:for each="{field.videoFile}" as="fileReference" iteration="i">
          <v:variable.set name="video{i.index}" value="fileadmin{fileReference.originalFile.identifier}" />
        </f:for>

        <v:variable.set name="videos" value='<razor:filter arr="{0: video0, 1: video1, 2: video2}" />' />

        <v:media.video src="{videos}" width="560" height="315" controls="1" />
      </div>
    </f:case>
  </f:switch>
</f:section>

</html>