/* --------------------------------------------------------
Component: News

version: 1.0
last modified: 23.05.2017 by Michel Sacher
author: Michel Sacher
email: michelsacher@googlemail.com
website: www.michelsacher.de
----------------------------------------------------------*/

.razor {
  &--news {
    &-list {
      margin-bottom: 1.5rem;

      h3 {
        a {
          color: $black;

          &:hover {
            text-decoration: none;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-image {
      margin-bottom: 1.5rem;
    }

    &-teaser {
      margin-top: 1rem;
    }

    &-filesize {
      font-style: italic;
    }
  }

  &--share {
    margin-bottom: 2rem;
    font-size: 2rem;

    a {
      @include states {
        text-decoration: none;
      }

      margin-right: .5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
