<f:be.container
  pageTitle="tools"
  enableClickMenu="false"
  loadExtJs="true"
  loadExtJsTheme="true"
  loadJQuery="true"
  enableExtJsDebug="false">

  <div class="typo3-fullDoc">
    <div id="typo3-docheader">
      <div class="inner">
        <div class="typo3-docheader-functions"></div>
        <div class="typo3-docheader-buttons">
          <div class="left"></div>
          <div class="right">
            <f:be.buttons.shortcut />
          </div>
        </div>
      </div>
    </div>
    <div id="typo3-docbody">
      <div id="typo3-inner-docbody">
        <div class="contentWrapper">
          <f:render section="Tools" />
        </div>
      </div>
    </div>
  </div>
</f:be.container>